<div class="row">
  <div class="col s12">
    <%= devise_error_messages! %>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <div class="z-depth-4 card-panel">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="row">
          <div class="col s12 center">
            <h4>S'inscrire</h4>
            <p class="center">Rejoignez-nous !!</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="material-icons prefix pt-5">person_outline</i>
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "off" %>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="material-icons prefix pt-5">lock</i>
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="material-icons prefix pt-5">lock</i>
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s6">
            <i class="material-icons prefix pt-5">person_pin</i>
            <%= f.label :firstname %><br />
            <%= f.text_field :firstname, autofocus: true, autocomplete: "off" %>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix pt-5">person_pin</i>
            <%= f.label :lastname %><br />
            <%= f.text_field :lastname, autofocus: true, autocomplete: "off" %>
          </div>
        </div>
        <div class="center">
          <%= f.submit "S'enregistrer",:class => "btn waves-effect waves-light green margin-top" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

