<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <div class="center">
        <h4>Post de l'utilisateur <% @user.email %></h4>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <% @user.posts.each do |post| %>
    <div class="col s4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <a href="#">
            <img src="<%= post.image %>" alt="item-img" height="170">
          </a>
          <h4 class="card-title text-shadow m-0"><%= post.title %></h4>
        </div>
        <div class="card-action-buttons margin-top">
          <div class="row padding-left padding-right">
            <div class="col s12 center  ">
              <%= link_to "Details",  post_path(post), :class => "waves-effect waves-light btn orange" %>
            </div>
          </div>
        </div>
        <div class="card-content no-padding ">
          <div class="padding-left">
            <p class="row mb-1">
              <small class="left"><%= post.created_at %></small>
            </p>
            <p class="item-post-content">  <%= post.text %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to '<=', posts_path ,:class=>"btn-floating btn-large waves-effect waves-light red btn-back-post" %>
