<div class="row">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="col s12">
      <div class="card-panel z-depth-4">
        <div class="row">
          <div class="col s12 center">
            <h4>Se connecter</h4>
          </div>
        </div>
        <div class="row margin">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
        </div>
        <div class="row">
          <div class="center">
            <%= f.submit "Se connecter" ,:class => "btn waves-effect waves-light green"%>
          </div>
        </div>
        <div class="row">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  <% end %>
</div>



