
<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <%= form_with(model: post, local: true) do |form| %>
        <% if post.errors.any? %>
          <div class="row">
            <div id="error_explanation">
            <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
            <ul>
            <% post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
          </div>
        <% end %>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix ">subject</i>
            <%= form.label :title %><br />
            <%= form.text_field :title, autocomplete: "off" %>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix ">assignment</i>
            <%= form.label :text %><br />
            <%= form.text_area :text, autocomplete: "off" , :class=>"materialize-textarea" %>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix pt-5">attach_file</i>
            <%= form.file_field :image, autocomplete: "off" %>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="center">
              <%= form.submit "Enregistrer", :class => "btn waves-effect waves-light green margin-top" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>