
<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <div class="center">
        <h4>Editer Post</h4>
      </div>
    </div>
  </div>
</div>

<%= render 'form', post: @post %>

<%= link_to 'Voir', @post ,:class=>"btn-floating btn-large waves-effect waves-light red btn-view-post" %>

<%= link_to '<=', posts_path ,:class=>"btn-floating btn-large waves-effect waves-light red btn-back-post" %>