
<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <div class="center">
        <h4>Detail Post </h4>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s5 ">
    <div class="row">
      <div class="col s12">
        <div class="card-panel ">
          <div class="center">
            <h6>Image </h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="card-panel">
          <div class="card-image waves-effect waves-block waves-light center">
            <img src="<%= @post.image %>" alt="item-img">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s5 offset-s2">
    <div class="row">
      <div class="col s12">
        <div class="card-panel">
          <div class="center">
            <h6>Titre : </h6>
            <%= @post.title%>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="card-panel">
          <div class="center">
            <h6>Chapeau : </h6>
            <%= @post.text %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="card-panel">
          <div class="center">
            <h6>Crée le : </h6>
            <%= @post.created_at %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="card-panel">
          <div class="center">
            <h6>Crée par: </h6>
            <%= link_to @post.user.email, post_user_path(@post, @post.user) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% if current_user == @post.user %>
  <%= link_to "delete", post_path(@post), method: :delete, data: {confirm: "Etes vous sur de vouloir supprimer ce post ?"}, :class => "waves-effect waves-light btn red btn-remove-post" %>



  <%= link_to 'Edit', edit_post_path(@post) ,:class=>"btn-floating btn-large waves-effect waves-light red btn-view-post" %>
<% end %>



<%= link_to '<=', posts_path ,:class=>"btn-floating btn-large waves-effect waves-light red btn-back-post" %>