@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";


html {
  background-color: #e1f5fe  !important;
}

nav {
  background-color: #0288d1 !important;
}

.margin-top{
  margin-top:15px;
}

.padding-left{
  padding-left: 24px !important;
}
.padding-right{
  padding-right: 24px;
}

.no-padding{
  padding: 0 ;
}

.chip.right{
  margin-right: 25px;
}

.btn-add-post,
.btn-remove-post{
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.btn-view-post{
  position:absolute;
  margin-right: 15px;
  right: 0;
}

.btn-back-post{
  position:absolute;
  margin-left: 15px;
  left: 0;
}

.btn.red.btn-remove-post{
  width: 50%;
}