<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to "Posts", posts_path() %></li>
          <% if user_signed_in? %>
            <li> <%= link_to('Se déconnecter', destroy_user_session_path, method: :delete) %> </li>
          <% else %>
            <li> <%= link_to('S\'inscrire', new_user_registration_path) %> </li>
            <li> <%= link_to('Se connecter', new_user_session_path) %> </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
  <body>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
